
@{ Layout = "~/Views/Shared/MainFire.cshtml";
    ViewBag.Title = "FType";
}
<script src="~/Scripts/vendor/jquery-3.2.1.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <h3 class="title-5 m-b-5"><i class="fas fa-list"></i> Fire</h3>
            </div>
            <div class="table-data__tool-right">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#ex1">
                    <i class="zmdi zmdi-plus"></i> ชนิด
                </button>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-bordered" id="example">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ชนิด</th>
                        <th>#</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="ex1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="examples1"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="aId" name="aId" />
                <table class="table table-borderless tbb">
                    <thead>
                        <tr>
                            <th>ชนิด</th>
                            <th><input type="text" class="form-control" id="aType" name="aType" maxlength="100" /></th>
                            <th>  <button type="button" class="btn btn-primary" onclick="btnSave1()">Save</button></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<script type="text/javascript">

    function btnSave1() {
        var aType = $('#aType').val();
        var data = {
            Ftype : aType
        }
        $.ajax({
            url: "@Url.Action("","Fire")",
            type: "POST",
            data: data,
            success: function (data) {
                if (data.status != "success") {
                    $('#txte').text(data.message);
                    $('#myError').modal();
                } else {
                    $('#ex1').modal('hide');
                    table.ajax.reload();
                    $('#mySuccess').modal();
                }
            }, error: function (response) {
                ;
                $('#txte').text("กรุณาติดต่อ MIS");
                $('#myError').modal();
            }
        });

    }
    $('#ex1').on('show.bs.modal', function (event) {
        //get data-id attribute of the clicked element
        var atag = $(event.relatedTarget);
        var id = atag.data('id');
        var types = atag.data('types');

        if (typeof id == "undefined") {
            //add
            $('#exampleModalLabel').text("Add Type");
            $('#aId').val(0);
            $('#aType').val("");
      
        } else {
            //edit
            $('#exampleModalLabel').text("Edit Type");
            $('#aId').val(id);
            $('#aType').val(types);
      
        }
    });
</script>